<div class="convert-container col-xs-6 col-xs-offset-3">
    <div class="errors"></div>
    <div class="form-box row">
        <div class="col-xs-12">
            <h5 class="text-center"><span class="glyphicon glyphicon-info-sign text-info"></span><em> Enter the value you want to convert to/from roman numerals</em></h5>
            <!-- We would fill in the action and method attributes if we were wanting to enable graceful degredation. 
                 Simply fire off the parameters to the backend using tradition request. -->
            <form action="" method="">
                <input name="ref" type="text" placeholder="Eg: MMMCMXCIX or 3999" class="form-control" autocomplete="off">
                <button class="btn btn-info btn-block submit" type="submit">Convert</button>
            </form>            
        </div>
        <!--/col -->
    </div>
    <!--/row -->
    <div class="row">
        <div class="col-xs-5 col-xs-offset-3 text-center">
            <div class="result alert ghost"></div>
        </div>
    </div>
</div>  



  